table {
  border: 1px solid #69c;
  weight="100%";
}
th {
  font-weight: normal;
  color: #039;
  border-bottom: 1px dashed #69c;
  padding: 12px 17px;
}
td {
  color: #669;
  padding: 7px 17px;
}
tr:hover td {
  background:#ccddff;
}